[project]
	description = JQuery plugin to adjust the size of text to the width of a container.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matthias Toscanelli (codesource)
[access "refs/for/refs/*"]
	read = group user/Matthias Toscanelli (codesource)
	push = group user/Matthias Toscanelli (codesource)
	label-Code-Review = -2..+2 group user/Matthias Toscanelli (codesource)
	label-Verified = -1..+1 group user/Matthias Toscanelli (codesource)
	rebase = group user/Matthias Toscanelli (codesource)
	removeReviewer = group user/Matthias Toscanelli (codesource)
	submit = group user/Matthias Toscanelli (codesource)
[access "refs/heads/*"]
	read = group user/Matthias Toscanelli (codesource)
	create = group user/Matthias Toscanelli (codesource)
	push = +force group user/Matthias Toscanelli (codesource)
	pushMerge = group user/Matthias Toscanelli (codesource)
[access "refs/tags/*"]
	push = +force group user/Matthias Toscanelli (codesource)
	pushTag = group user/Matthias Toscanelli (codesource)
	pushSignedTag = group user/Matthias Toscanelli (codesource)
